
html, body, h1, h2, h3, h4, ul, ol, li, p, a {
	padding: 0;
 	border: 0;
	margin: 0;
	font: inherit;
  	font-size: 100%;

}

body{
	margin: 0;
	background: #6ed5ef; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #42D6F9 0%, #F67EDD 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #42D6F9 0%,#F67EDD 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #42D6F9 0%,#F67EDD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed5ef', endColorstr='#ffbaf5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
};

canvas{
	height: 100vh;
  	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
	pointer-events: none;
}

.c{
    background-color: red;
    display: block;
    position: relative;
}
.c:after{
    clear: both;
    content: "";
    display: block;
}
.l{
    background-color: blue;
    float: left;
    height: 40px;
    width: 120px;
    display: inline-block;
}
.m{
    background-color: green;
    float: left;
    display: inline-block;
}

#container {
	position: fixed;
}

#webglContainer {
	position: fixed;
	pointer-events: none;
	/* this element will not catch any events */
	z-index: -9998;
	height: 100vh;
  	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	/* position this canvas at bottom of the other one */
}

#info {
	position: fixed;
	top: 0px;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family: Monospace;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

.topmenu {
	position: fixed;
	transform: translate(50%, 0.3125em);
	margin: auto;
    width: 50%;
	text-align: center;
	padding: 0;
	animation-duration: 1.5s;
  	animation-name: slideinmenu;
  	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
	z-index: 3;
	-webkit-animation-delay: 4.75s; /* Safari 4.0 - 8.0 */
    animation-delay:5.75s;
}

button {
	background-color: rgb(255,255,255);
	border-radius: 0.1875em 0.1875em 0.1875em 0;
	color: black;
	margin: 0.6125em 0.3125em 0.3125em 0.3125em; /* 10 / 1980 */
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
	font-family: 'Shrikhand', sans-seriff;
	font-size: 1.25em;
	box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	z-index:2;
}
	button:hover {
		background-color: rgba(0,0,0,1);
		color: white;
	}
	button:active {
		color: white;
		background-color: rgba(150,150,150,1);
		box-shadow: box-shadow: -0.2em 0.05em 0px 0px rgba(50,50,50,1);
  		transform: translateY(.25em);
	}

.bond {
	width: 5px;
	height: 10px;
	background: #eee;
	display: block;
}

.square {
	position:fixed;
	left:50%;
	top:0px;
	width: .1%;
	height: 100%;
	background-color: white;
	z-index: 0;
}


.logo{
	margin: auto;
    border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 50%;
    padding: 5px 10px;
	text-align: center;
	font-size:3em;
	background-color: rgb(255,255,255);
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
}

.aboutme {
	position: fixed;
	transform:translate(25%, 30em);
	margin: 0 auto;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 55%;
    padding: 5px 10px;
	text-align: center;
	font-size:2.5em;
	background-color: white;
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	max-height: 70%;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
	z-index: 2;

  	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
  	-webkit-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
}

	.aboutme button {
		background-color: transparent;
		border-radius: 0.1875em 0.1875em 0.1875em 0.1875em;
		color: rgba(150,150,150,.5);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
		font-family: 'Shrikhand', sans-seriff;
		font-size: .5em;
		box-shadow:  0em 0em .25em rgba(100,100,100,.5);
		z-index:2;
	}

	.aboutme button:hover {
		background-color: rgba(0,0,0,1);
		color: white;
		}

	.aboutme button:active {
		color: white;
		background-color: rgba(150,150,150,1);
	}

.press {
	position: fixed;
	transform:translate(25%, 30em);
	margin: 0 auto;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 55%;
    padding: 5px 10px;
	text-align: center;
	font-size:2.5em;
	background-color: white;
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	max-height: 70%;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
	z-index: 2;

  	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
  	-webkit-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
}

	.press button {
		background-color: transparent;
		border-radius: 0.1875em 0.1875em 0.1875em 0.1875em;
		color: rgba(150,150,150,.5);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
		font-family: 'Shrikhand', sans-seriff;
		font-size: .5em;
		box-shadow:  0em 0em .25em rgba(100,100,100,.5);
		z-index:2;
	}

	.press button:hover {
		background-color: rgba(0,0,0,1);
		color: white;
		}

	.press button:active {
		color: white;
		background-color: rgba(150,150,150,1);
	}
.games {
	position: fixed;
	transform:translate(25%, 30em);
	margin: 0 auto;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 55%;
    padding: 5px 10px;
	text-align: center;
	font-size:2.5em;
	background-color: white;
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	max-height: 70%;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
	z-index: 2;

  	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
  	-webkit-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
}

	.games button {
		background-color: transparent;
		border-radius: 0.1875em 0.1875em 0.1875em 0.1875em;
		color: rgba(150,150,150,.5);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
		font-family: 'Shrikhand', sans-seriff;
		font-size: .5em;
		box-shadow:  0em 0em .25em rgba(100,100,100,.5);
		z-index:2;
	}

	.games button:hover {
		background-color: rgba(0,0,0,1);
		color: white;
		}

	.games button:active {
		color: white;
		background-color: rgba(150,150,150,1);
	}
.design {
	position: fixed;
	transform:translate(25%, 30em);
	margin: 0 auto;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 55%;
    padding: 5px 10px;
	text-align: center;
	font-size:2.5em;
	background-color: white;
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	max-height: 70%;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
	z-index: 2;

  	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
  	-webkit-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
}

	.design button {
		background-color: transparent;
		border-radius: 0.1875em 0.1875em 0.1875em 0.1875em;
		color: rgba(150,150,150,.5);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
		font-family: 'Shrikhand', sans-seriff;
		font-size: .5em;
		box-shadow:  0em 0em .25em rgba(100,100,100,.5);
		z-index:2;
	}

	.design button:hover {
		background-color: rgba(0,0,0,1);
		color: white;
		}

	.design button:active {
		color: white;
		background-color: rgba(150,150,150,1);
	}
.gamescontainer{
	position: fixed;
	transform:translate(25%, 5.25em);
	margin: 0 auto;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 55%;
    padding: 5px 10px;
	text-align: center;
	font-size:2.5em;
	background-color: white;
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	height: 70%;
	max-height: 70%;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
	z-index: 10;
	
	opacity: 0;
    pointer-events: none;

	-webkit-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);

	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
  	-webkit-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
}
	.gamescontainer button {
		background-color: transparent;
		border-radius: 0.1875em 0.1875em 0.1875em 0.1875em;
		color: rgba(0,0,0,1);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
		font-family: 'Shrikhand', sans-seriff;
		font-size: .5em;
		box-shadow:  0em 0em .25em rgba(100,100,100,.5);
		z-index:2;
	}

	.gamescontainer button:hover {
		background-color: rgba(0,0,0,1);
		color: white;
	}

	.gamescontainer button:active {
		color: white;
		background-color: rgba(150,150,150,1);
	}
.showgamescontainer {
	opacity: 1;
	pointer-events: auto;
}

.gamescontainer2{
	position: fixed;
	transform:translate(0, 0);
	margin: 0 auto;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
    width: 100%;
    padding: 5px 10px;
	text-align: center;
	font-size:2.5em;
	background-color: white;
	box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	height: 100%;
	max-height: 100%;
	
	z-index: 100;
	
	opacity: 1;
    

	-webkit-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: opacity .75s cubic-bezier(.59,1.22,.84,1.13);

	animation-timing-function: cubic-bezier(.59,1.22,.84,1.13);
  	-webkit-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-moz-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-o-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	-ms-transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
	transition: all .75s cubic-bezier(.59,1.22,.84,1.13);
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffffff;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ffffff;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ffffff;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #6ed5ef; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #42D6F9 0%, #F67EDD 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #42D6F9 0%,#F67EDD 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #42D6F9 0%,#F67EDD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed5ef', endColorstr='#ffbaf5',GradientType=1 );
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        opacity: 0;

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }


    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }
.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 2s linear;
    animation: fade  .75s cubic-bezier(.59,1.22,.84,1.13);
}


@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/*image  links*/
.imgcontent {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: auto;
  margin-bottom: 0.25em;
  overflow: hidden;
  border-radius: 0.1875em 0.1875em 0.1875em 0;
  box-shadow: -0.15em 0.15em 0px 0px rgba(100,100,100,1);
}

.imgcontent .imgcontent-overlay {
  background: rgba(0,0,0,0.37);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-radius: 0.1875em 0.1875em 0.1875em 0;
  box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.imgcontent:hover .imgcontent-overlay{
  opacity: 1;
}

.imgcontent-image{
  width: 100%;
}

.imgcontent-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.imgcontent:hover .imgcontent-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.imgcontent-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.imgcontent-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}


/* Create four equal columns that floats next to each other */
.imgcolumn {
    float: left;
     width: 30%;
    padding: 10px;
}

.imgcolumn container{
 	margin-top: 12px;
    border-radius: 0.1875em 0.1875em 0.1875em 0;
    box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
}
.imgcolumn img {
    margin-top: .25em;
    border-radius: 0.1875em 0.1875em 0.1875em 0;
    box-shadow: -0.1em 0.1em 0px 0px rgba(100,100,100,1);
}

/* Clear floats after the columns */
.imgrow:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 950px) {
    .imgcolumn {
        width: 100%;
    }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .imgcolumn {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .imgcolumn {
        width: 100%;
    }
}

/* Create two equal columns that floats next to each other for press */
.column {
    float: left;
    width: 35%;
    padding: 1em;
    margin: 0 auto;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.showpanel{
	transform:translate(25%, 5.25em);
}

p{
	font-family: 'Montserrat', sans-seriff;
	font-size: .5em;
	text-align: left;
	margin: 0 auto;
	width: 90%;
	padding-bottom: .75em;
}

h1{
	font-family: 'Shrikhand', sans-seriff;
	background: #6ed5ef; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #42D6F9 0%, #F67EDD 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #42D6F9 0%,#F67EDD 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #42D6F9 0%,#F67EDD 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h2 {
	font-family: 'Shrikhand', sans-seriff;
}

h3 {
	color: grey;
	font-family: 'Shrikhand', sans-seriff;
	font-size: .5em;
	padding: .3em 0 .65em 0;
	margin: auto;
}

a{
	font-family: 'Shrikhand', sans-seriff;
	color: #42D6F9;
	text-decoration: none;
}
	/* visited link */
	a:visited {
		color: #F67EDD;
	}
	/* mouse over link */
	a:hover {
		color: #aaaaaa;
	}
	/* selected link */
	a:active {
		color: #42D6F9;
	}

p a{
	font-family: 'Montserrat', sans-seriff;
	text-decoration: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.fa {
	padding: 20px;
	font-size: 20px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: .25em ;
	border-radius: 50%;
	color: #ffffff;
}

	.fa:hover {
		opacity: 0.7;
		color: #ffffff;
	}

	.fa:active {
		color: #ffffff;
	}

	.fa:visited {
		color: #ffffff;
	}

	.fa-twitter {
		background: #55ACEE;
		color: white;
	}

	.fa-linkedin {
		background: #007bb5;
		color: white;
	}

#gallerywrapper{
	max-width: 100%;
	margin: 0 auto;

}
#gallerywrapper img{
	display: block;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
	max-width: 100%;
	height: auto;
	width: auto;
	box-shadow: -0.075em 0.075em 0px 0px rgba(100,100,100,1);
}

.profilepic{
	width: 9%;
	float: left;
	margin-right: 3%;
}
.workselect{
	width: 100%;
	float: left;
	margin-right: 3%;
	margin-bottom: .5em;
}
#headerpicwrapper{
	max-width: 100%;
	margin: 0 auto;

}
#headerpicwrapper img{
	display: block;
	border-radius: 0.1875em 0.1875em 0.1875em 0;
	max-width: 100%;
	height: auto;
	width: auto;
	box-shadow: -0.075em 0.075em 0px 0px rgba(100,100,100,1);
}
.headerpicture{
	width: 50%;
	
	margin: 0 auto;
	margin-left: 25%;
	margin-bottom: .75em;

}
.tricketpicture{
	width: 40%;
	
	margin: 0 auto;
	margin-left: 25%;
	margin-bottom: .75em;

}
#headerpicwrapper img:hover{
	opacity: .8;
}
#gallerywrapper img:hover{
	opacity: .8;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	margin-bottom: .75em;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,100,100,0.4); 
}



@keyframes slideinmenu {

  from {
    transform: translate(50%, -20em);
  }

  to {
   transform: translate(50%, 0.3em);
  }
}

@keyframes slideintextbg {

  from {
    transform: translate(12%, 30em);
  }

  to {
   transform: translate(12%, 5.25em);
  }
}

@keyframes slideouttextbg {

  from {
    transform: translate(12%, 5.25em);
  }

  to {
   transform: translate(12%, 30em);
  }
}
@media screen and (max-width: 724px) {
	.headerpicture{
		width: 100%;
		
		margin: 0 auto;
		margin-left: 3%;
		margin-bottom: .75em;

	}
	.tricketpicture{
	width: 40%;
	
	margin: 0 auto;
	margin-left: 25%;
	margin-bottom: .75em;

}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1304px) {
  .logo{
			font-size:2.5em;
	}
	h3 {
			font-size: .5em;
	}
	.design {
		transform:translate(15%, 30em);
	    width: 65%;
	}
	.aboutme {
		transform:translate(15%, 30em);
	    width: 65%;
	}
	.press {
		transform:translate(15%, 30em);
	    width: 65%;
	}
	.games {
		transform:translate(15%, 30em);
	    width: 65%;
	}
	.profilepic{
		width: 15%;
		float: left;
		margin-right: 3%;
	}
	.gamescontainer{
		width: 65%;
		transform:translate(15%, 4.65em);
	}
	.showpanel{
		transform:translate(15%, 4.65em);
	}
	.column {
	    float: left;
	    width: 35%;
	    padding: 1em;
	    margin: 0 auto;
	}
}
@media screen and (max-width: 1167px) {
	.column {
	    width: 80%;
	    padding: 1em;
	    margin: 0 auto;
	}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1089px) {
    button {
		/*margin: 0.3125em 0.3125em 0.3125em 0.3125em; *//* 10 / 1980 */
		font-size: 1.25em;
		/*box-shadow: -3px 4px 0px 0px rgba(100,100,100,1);*/
	}
	.logo{
			font-size:2em;
	}
	h3 {
			font-size: .5em;
	}
	.profilepic{
		width: 20%;
		float: left;
		margin-right: 3%;
	}
	.design {
		transform:translate(15%, 30em);
	    width: 70%;
	}
	.aboutme {
		transform:translate(15%, 30em);
	    width: 70%;
	}
	.press {
		transform:translate(15%, 30em);
	    width: 70%;
	}
	.games {
		transform:translate(15%, 30em);
	    width: 70%;
	}
	.profilepic{
		width: 15%;
		float: left;
		margin-right: 3%;
	}
	.gamescontainer{
		width: 70%;
		transform:translate(15%, 4.5em);
	}
	.showpanel{
		transform:translate(15%, 4.5em);
	}
}

@media screen and (max-width: 894px) {

	button {
		/*margin: 0.3125em 0.3125em 0.3125em 0.3125em; *//* 10 / 1980 */
		font-size: .9em;
		/*box-shadow: -3px 4px 0px 0px rgba(100,100,100,1);*/
	}
    .logo{
		font-size:1.65em;
	}
	h3 {
		font-size: .5em;
	}
	.profilepic{
		width: 25%;
		float: left;
		margin-right: 3%;
	}
	.gamescontainer{
		
		transform:translate(12%, 4em);
	}
	.showpanel{
		transform:translate(12%, 4em);
	}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 736px) {
    .logo{
		font-size:1.75em;
	}
	
	h3 {
		font-size: .55em;
	}
	button {
		font-size: 1.15em;
		margin: 0.6125em 0.025em 0.025em 0.05em; /* 10 / 1980 */
	}
	.profilepic{
		width: 35%;
		float: left;
		margin-right: 3%;
	}
	.aboutme {
		max-height: 70%;
	}
	.press {
		max-height: 70%;
	}
	.games {
		max-height: 70%;
	}
	.design {
		max-height: 70%;
	}
	.gamescontainer{
		
		transform:translate(12%, 4.5em);
	}
	.showpanel{
		transform:translate(12%, 4.5em);
	}
	
}
@media screen and (max-width: 1167px) {
	.column {
	    
	    width: 80%;
	    padding: .5em;
	    margin: 0 auto;
	}
}
@media screen and (max-width: 414px) {
    .logo{
		font-size:1.4em;
	}
	h3 {
		font-size: .75em;
	}
	button {
			font-size: 1em;
			margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
			box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
			max-height: 70%;
			overflow-y: scroll; /* has to be scroll, not auto */
  			-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.topmenu{
		transform: translate(0%, 1.5em);
		width: 100%;
	}
	.gamescontainer{
		
		transform:translate(12%, 4.25em);
	}
	.showpanel{
		transform:translate(12%, 4.25em);
	}

	.profilepic{
		width: 40%;
		float: left;
		margin-right: 3%;
		margin-bottom: 10%;
	}
	@keyframes slideinmenu {

	  from {
	    transform: translate(0%, -20em);
	  }

	  to {
	   transform: translate(0%, 1.5em);
	  }
	}

}

@media screen and (max-width: 359px) {
    .logo{
		font-size:1.25em;
	}
	.logo h3{
		font-size:.85em;
	}
	button {
		font-size: .85em;
		padding: 3px 5px;
		margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
		box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 70%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.topmenu{
		transform: translate(0%, 1.5em);
		width: 100%;
	}
	.gamescontainer{
		
		transform:translate(12%, 3.75em);
	}
	.showpanel{
		transform:translate(12%, 3.75em);
	}

	.profilepic{
		width: 100%;
		float: left;
		margin-right: 3%;
		margin-bottom: 10%;
	}
	p{

		font-size: .45em;
		padding-bottom: .75em;

	}
	h2 {
		font-size: .475em;
	}
	h3 {
		font-size: .4em;
		padding: .3em 0 .65em 0;
	}
	@keyframes slideinmenu {

	  from {
	    transform: translate(0%, -20em);
	  }

	  to {
	   transform: translate(0%, 1.5em);
	  }
	}
}
@media screen and (max-width: 290px) {
	.logo{
		font-size:1.45em;
	}
	button {
		/*margin: 0.3125em 0.3125em 0.3125em 0.3125em; *//* 10 / 1980 */
		font-size: 1.35em;
		/*box-shadow: -3px 4px 0px 0px rgba(100,100,100,1);*/
	}
	.showpanel{
		transform:translate(12%, 6.5em);
	}
	.gamescontainer{
		
		transform:translate(12%, 6.5em);
	}
	.aboutme {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}

}
@media screen and (max-width: 265px) {

	button {
		/*margin: 0.3125em 0.3125em 0.3125em 0.3125em; *//* 10 / 1980 */
		font-size: 1.25em;
		/*box-shadow: -3px 4px 0px 0px rgba(100,100,100,1);*/
	}
	.showpanel{
		transform:translate(12%, 6em);
	}
	.gamescontainer{
		
		transform:translate(12%, 6em);
	}
	.aboutme {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}

}
@media screen and (max-width: 1167px) {
	.column {
	    
	    width: 80%;
	    padding: .15em;
	    margin: 0 auto;
	}
}
@media screen and (max-width: 214px) {
    .logo{
		font-size:1.25em;
	}
	.logo h3{
		font-size:.65em;
	}
	button {
		font-size: .95em;
		padding: 3px 5px;
		margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
		box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.topmenu{
		transform: translate(0%, 1.5em);
		width: 100%;
	}
	.gamescontainer{
		
		transform:translate(12%, 5.5em);
	}
	.showpanel{
		transform:translate(12%, 5.5em);
	}

	.profilepic{
		width: 100%;
		float: left;
		margin-right: 3%;
		margin-bottom: 10%;
	}

	p{
		font-size: .45em;
		padding-bottom: .75em;
	}
	h2 {
		font-size: .475em;
	}
	h3 {
		font-size: .4em;
		padding: .3em 0 .65em 0;
	}
	@keyframes slideinmenu {

	  from {
	    transform: translate(0%, -20em);
	  }

	  to {
	   transform: translate(0%, 1.5em);
	  }
	}
}

@media screen and (max-height: 630px) {
    .logo{
		font-size:1.5em;
	}
	.logo h3{
		font-size:.65em;
	}
	button {
		font-size: .95em;
		padding: 3px 5px;
		margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
		box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 65%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	
	.gamescontainer{
		max-height: 65%;
		transform:translate(12%, 4em);
	}
	.showpanel{
		transform:translate(12%, 4em);
	}

	
}
@media screen and (max-height: 519px) {
    .logo{
		font-size:1.25em;
	}
	.logo h3{
		font-size:.65em;
	}
	button {
		font-size: .95em;
		padding: 3px 5px;
		margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
		box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 60%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		3.7
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	
	.gamescontainer{
		max-height: 60%;
		transform:translate(12%, 3.7em);
	}
	.showpanel{
		transform:translate(12%, 3.7em);
	}

	
}
@media screen and (max-height: 519px) {
    .logo{
		font-size:1em;
	}
	.logo h3{
		font-size:.65em;
	}
	button {
		font-size: .95em;
		padding: 3px 5px;
		margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
		box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
		max-height: 45%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 45%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 45%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 45%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	
	.gamescontainer{
		max-height: 45%;
		transform:translate(12%, 3em);
	}
	.showpanel{
		transform:translate(12%, 3em);
	}

	
}
@media screen and (max-height: 320px) {
    .logo{
		font-size:1em;
	}
	.logo h3{
		font-size:.65em;
	}
	button {
		font-size: .95em;
		padding: 3px 5px;
		margin: 0.6125em 0.05em 0.05em 0.05em; /* 10 / 1980 */
		box-shadow: -0.2em 0.2em 0px 0px rgba(100,100,100,1);
	}
	.aboutme {
		max-height: 40%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.press {
		max-height: 40%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.games {
		max-height: 40%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	.design {
		max-height: 40%;
		overflow-y: scroll; /* has to be scroll, not auto */
  		-webkit-overflow-scrolling: touch;
	}
	
	.gamescontainer{
		max-height: 40%;
		transform:translate(12%, 3em);
	}
	.showpanel{
		transform:translate(12%, 3em);
	}

	
}




