
			html, body, h1, h2, h3, h4, ul, ol, li, p, a {
		        padding: 0;
		        border: 0;
		        margin: 0;
		        font: inherit;
  				font-size: 100%;

		    }
		    
			body{
				margin: 0;
				background: #6ed5ef; /* Old browsers */
				background: -moz-linear-gradient(-45deg, #42D6F9 0%, #F67EDD 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg, #42D6F9 0%,#F67EDD 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg, #42D6F9 0%,#F67EDD 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ed5ef', endColorstr='#ffbaf5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				
			};

			h2 { 
				   position: absolute; 
				   top: 200px; 
				   left: 0; 
				   width: 100%; 
		
			}
			h2 span { 
			   color: white; 
			   font: bold 240px/450px Helvetica, Sans-Serif; 
			   letter-spacing: -1px;  
			   background: rgb(0, 0, 0); /* fallback color */
			   background: rgba(0, 0, 0, 0.);
			   padding: 10px; 
			}
			canvas{width: 100%; height: 100%;};

			#info {
				position: absolute;
				top: 0px;
				width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family: Monospace;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				z-index: 1;
			}
			#menu {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
				padding: 0;
				margin: 0;

			}
			#topmenu {
				position: fixed;
				transform: translate(50%, 50%);
				margin: auto;
    			width: 50%;
				text-align: center;
				padding: 0;
				
				z-index: 3;
				/*transform: translate(-50%, -45%);*/
			}
			button {
				background-color: rgb(255,255,255);
				color: black;
				margin: 0.3125em 0.3125em 0.3125em 0.3125em; /* 10 / 1980 */
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
				font-family: 'Shrikhand', sans-seriff;
				font-size: 1.5em;
				box-shadow: -0.1875em 0.1875em 0px 0px rgba(100,100,100,1);


			}
			button:hover {
				background-color: rgba(0,0,0,1);
				color: white;
			}
			button:active {
				color: white;
				background-color: rgba(150,150,150,1);
			}
			.bond {
				width: 5px;
				height: 10px;
				background: #eee;
				display: block;
			}
			#square {
			   position:fixed;
			   left:50%;
			   top:0px;
			   width: 1%;
				height: 100%;
			   background-color: white;

			   z-index: -1;
			}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1035px) {
  button {
				
				/*margin: 0.3125em 0.3125em 0.3125em 0.3125em; *//* 10 / 1980 */
				font-size: 1em;
				/*box-shadow: -3px 4px 0px 0px rgba(100,100,100,1);*/


			}
}	

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 750px) {
  button {
				
				/*margin: 0.3125em 0.3125em 0.3125em 0.3125em;*/ /* 10 / 1980 */
				font-size: .75em;
				/*box-shadow: -3px 4px 0px 0px rgba(100,100,100,1);*


			}
}					

