@font-face {
  font-family: Fira;

  src: url("../src/assets/FiraCode-Retina.ttf") format("truetype");
}
@font-face {
  font-family: Mono;
  src: url("../src/assets/FreeMono.ttf") format("truetype");
}
@font-face {
  font-family: MonoBold;
  src: url("../src/assets/FreeMonoBold.ttf") format("truetype");
}
@font-face {
  font-family: F5000;
  src: url("../src/assets/F5000.ttf") format("truetype");
}
@font-face {
  font-family: 2097;
  src: url("../src/assets/2097.ttf") format("truetype");
}
@font-face {
  font-family: 2197Block;
  src: url("../src/assets/2197Block.ttf") format("truetype");
}
@font-face {
  font-family: 2197Bold;
  src: url("../src/assets/2197Heavy.ttf") format("truetype");
}
@font-face {
  font-family: FX300;
  src: url("../src/assets/FX300.ttf") format("truetype");
}
@font-face {
  font-family: FX300Angular;
  src: url("../src/assets/FX300\ Angular.ttf") format("truetype");
}
@font-face {
  font-family: F500Angular;
  src: url("../src/assets/F5000\ Angular.ttf") format("truetype");
}
@font-face {
  font-family: WO3;
  src: url("../src/assets/WO3.ttf") format("truetype");
}
@font-face {
  font-family: Fusion;
  src: url("../src/assets/Fusion.ttf") format("truetype");
}
@import "tailwindcss";

@theme {
  --font-fusion: Fusion, sans-serif;
  --font-WO3: WO3, sans-serif;
  --font-f5000-angular: F500Angular, sans-serif;
  --font-fx300: FX300, sans-serif;
  --font-fx300-angular: FX300Angular, sans-serif;
  --font-2097: 2097, sans-serif;
  --font-2197: 2197Block, sans-serif;
  --font-2197-bold: 2197Bold, sans-serif;
  --font-f5000: F5000, sans-serif;
  --font-fira: Fira, sans-serif;
  --font-mono: Mono, monospace;
  --font-mono-bold: MonoBold, monospace;
  --color-primary: #d5ff18;
  --color-primary-light: #f5f8fa;
  --color-my-blue: #2300ff;
  --color-bg: #0a0a0a;
  --breakpoint-xs: 23rem;
  --breakpoint-xxs: 5rem;
}

html,
body,
#root,
#main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-size: 1.5rem 1.5rem;
  /*  background:
    radial-gradient(
        circle,
        transparent 20%,
        #0a0a0a 20%,
        #0a0a0a 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 256px 256px,
    radial-gradient(
        circle,
        transparent 20%,
        #0a0a0a 20%,
        #0a0a0a 80%,
        transparent 80%,
        transparent
      )
      128px 128px / 256px 256px,
    linear-gradient(#1a8fe5 1px, transparent 1px) 0px -0.5px / 12px 12px,
    linear-gradient(90deg, #1a8fe5 1px, #0a0a0a 1px) -0.5px 0px / 12px 12px #0a0a0a;
  background-size:
    256px 256px,
    256px 256px,
    12px 12px,
    12px 12px; */
  background-color: black;

  /*   background-image: linear-gradient(to right, #1f1f1f 1px, transparent 1px),
    linear-gradient(to bottom, #1f1f1f 1px, transparent 1px); */
}
.overlay-container {
  clip-path: polygon(
    1% 47%,
    8% 40%,
    8% 0,
    99% 0,
    99% 2%,
    99% 15%,
    99% 90%,
    85% 90%,
    83% 98%,
    15% 98%,
    3% 98%,
    1% 94%
  );
}
.landing-page-section {
  height: 100vh;
}
.pin-spacer {
  z-index: 2000 !important;
}
.custom-pattern {
  background-image: repeating-linear-gradient(
    70deg,
    transparent,
    transparent 3px,
    #0a0a0a 3px,
    #0a0a0a 6px
  );
  background-color: #d5ff18;
}
